.event{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-left: 10px solid var(--accent-color);
    font-size: 5rem;
    text-shadow: -1px 0 3px rgba(0, 0, 0, 0.6), -1px 0 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    /* max-height: 148px; */
    min-width: 0;
    overflow: hidden;
}
.name{
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}
.date{
    font-size: 4rem;
    opacity: 95%;
}
.noDate{
    opacity: 60%;
    font-size: 20px;
    padding: 8px 10px;
}
.isToday {
    animation: todayPulse 3s linear infinite;
    font-size: 4.5rem;
    text-shadow: -1px 0 6px rgba(0, 0, 0, 0.4), -1px 0 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color), var(--primary-color));
    max-height: fit-content;
    padding: 20px;
}
.pastDue{
    opacity: 40%;
    font-size: 2.5rem;
    padding: 7px;
    .date{
        font-size: 2.5rem;
        opacity: 95%;
    }
}


@keyframes todayPulse {
    0% {
        border-left: 10px solid var(--accent-color);
        transform: rotate(1deg);
    }
    50% {
        border-left: 10px solid green;
        transform: rotate(0deg);
    }
    100% {
        border-left: 10px solid var(--accent-color);
        transform: rotate(1deg);
    }
}

.date{
    padding: 5px;
    border-radius: 8px;
}