.event{

    color: white;
    background-color: var(--secondary-color);
    opacity: 80%;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    border-left: 6px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}
.name{
    text-shadow: -1px 0 6px rgba(0, 0, 0, 0.6), -1px 0 2px rgba(0, 0, 0, 0.6);
    font-size: 3.3rem;
    font-weight: 400;
}
.date{
    text-shadow: -1px 0 6px rgba(0, 0, 0, 0.5), -1px 0 2px rgba(0, 0, 0, 0.5);
    font-size: 2.8rem;
    font-style: italic;
}