.weekPlanner{
    padding: 10px;
}
.header{
    height: 10rem;
    border-bottom: 5px solid var(--primary-color);
    margin-left: 30px;
    padding-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-size: 7rem;
}
.weekCalender{
    padding: 2rem 2rem 2rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}
.date{
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 4rem;
    letter-spacing: 1px;
    background-color: var(--primary-color);
}
.events{
    list-style: none;
    padding: 10px;
}
.event{
     padding: 5px;
     font-size: 3.5rem;
}
.futureEvents{
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}