.pres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 40px;
    gap: 20px;
}
.personDot{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 120px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
}
.person{

}
.dot{
    background-color: hotpink;
    border: 1px solid magenta;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.SD{
    background-color: lightgreen;
    border: 1px solid green;
}
.out{
    background-color: grey;
    border: 1px solid black;
}