.timeDisplay{
    font-size: 3rem;
    background-color: var(--primary-color);
    height: 100vh;
    text-transform: capitalize;
}
.date{
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 8rem;
    background-color: var(--secondary-color);
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}
.time{
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5);
    span{
        font-weight: 400;
        font-size: 5rem;
        vertical-align: bottom;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}

.weekContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem;
    padding: 1rem;
    margin: 10px;
    
    margin-top: 1rem;
    letter-spacing: 1px;
}

.weekTile {
    border-left: 8px solid var(--accent-color);
    color: var(--white);
    padding: 20px 20px;
    font-size: 5rem;
    background-color: var(--secondary-color);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.period {
    border-left: 8px solid var(--accent-color);
    color: var(--white);
    padding: 20px 20px;
    font-size: 5rem;
    background-color: var(--secondary-color);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}